* {
    margin: 0;
    padding: 0;
   font-family: Comic Sans MS;
   font-size:18px;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}

.navbar {
    background-color:hotpink;
    width: 100%;
    position: fixed;top:0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid black;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#leftnav {
   
    font-weight: bold;
    font-size: larger;
}

#rightnav {
    
    font-size: large;}

#rightnav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#rightnav ul li {
   
    list-style-type: none;}
    

#rightnav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-right: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 1px;
    
}

/* #rightnav ul li a:hover {
    border: 1px solid wheat;
    background-color: wheat;
    border-radius: 3.5px;
   
} */
    
}

#intro,#about,#experience,#contactme{
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.128);
    border-radius: 20px;
    box-shadow: 1px 2px 3px lightgray;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    height: 70vh;
    width: 70vw;
}
#skills{
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(0, 0, 0, 0.128);
    border-radius: 20px;
    box-shadow: 1px 2px 3px lightgray;
    margin-top: 20px;
    padding: 10px;
    height: 70vh;
    width: 70vw;
}
#sk{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
}
#intro{
    margin-top: 50px;
}
#leftintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}


#rightintro{
 
 justify-content: center;
 align-items: center; 
 

}
#rightintro img{
    width: 100px;
    
}
#intro:hover{
    border: lightgreen solid 3px;
}
#about:hover{
    border: lightgreen solid 3px;
}
#experience:hover{
    border: lightgreen solid 3px;
}
#skills:hover{
    border: lightgreen solid 3px;
}
#contactme:hover{
    border: lightgreen solid 3px;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about h1,#experience h1,#skills h1,#contactme h1{
    font-size: larger;
    margin: 15px;
    border-bottom: skyblue solid;
    text-align: center;
}
#skills h1{
    width: 70px;
    align-self: center;
}


#experience{
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#experience li{
    list-style-position: inside;
}



#html,#css,#vscode,#c{width: 50px;
text-align: center;
}


#contactme{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#button{display: flex;
   justify-content: space-between;
   
}
#reset{padding: 5px 10px;
    background-color: palevioletred;
    border: 1px solid lightseagreen;
    border-radius: 5px;
   
}
#submit{padding: 5px 10px;
    background-color: lightseagreen;
    border: 1px solid palevioletred;
    border-radius: 5px;
}
.footer
 {  border-top: solid black 1px;
    background-color: palegoldenrod;
    padding: 10px; 
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 

@media (max-width:500px){
  *{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
  }
  #intro,#about,#experience,#skills,#contactme{
    height: 50vh;
    height: 50vh;
  }
}
